VIDEOCUT_LLM_BASE_URL=http://127.0.0.1:8888/v1
VIDEOCUT_LLM_API_KEY=
VIDEOCUT_LLM_MODEL=translategemma-4b-it-mlx-4bit
VIDEOCUT_LLM_TIMEOUT=120
VIDEOCUT_TRANSLATION_BATCH_SIZE=10
VIDEOCUT_TRANSLATION_CONCURRENCY=4
VIDEOCUT_TRANSLATION_TARGET_CPS=4.5
VIDEOCUT_TRANSLATION_CHAR_TOLERANCE=0.2
VIDEOCUT_PROTECTED_TERMS_PATH=translation_protected_terms.txt

VIDEOCUT_COSYVOICE_PYTHON=./.venv-cosyvoice/bin/python
VIDEOCUT_COSYVOICE_REPO_DIR=.vendor/CosyVoice
VIDEOCUT_COSYVOICE_MODEL_DIR=.vendor/CosyVoice/pretrained_models/Fun-CosyVoice3-0.5B
VIDEOCUT_COSYVOICE_MODE=cross_lingual
VIDEOCUT_COSYVOICE_GROUP_SIZE=3
VIDEOCUT_COSYVOICE_CONCURRENCY=2
VIDEOCUT_REFERENCE_AUDIO_PATH=
VIDEOCUT_REFERENCE_TEXT=

VIDEOCUT_DUB_AUDIO_VOLUME=1.0
VIDEOCUT_ORIGINAL_AUDIO_VOLUME=0.0

VIDEOCUT_BURN_SUBTITLES=1
VIDEOCUT_SUBTITLE_FONT=Arial Unicode MS
VIDEOCUT_SUBTITLE_FONT_PATH=
VIDEOCUT_SUBTITLE_FONT_SIZE=18
VIDEOCUT_SUBTITLE_OVERLAY_CONCURRENCY=4
VIDEOCUT_VIDEO_PRESET=medium
VIDEOCUT_VIDEO_CRF=20

VIDEOCUT_EXPORT_PLATFORM_MATERIALS=1
VIDEOCUT_CLEANUP_SOURCE_AFTER_PUBLISH=1
